<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />
    <script type="text/javascript" th:src="@{/js/test.js}"></script>

</head>
<body>
    <div class="d" >
        index page<br>
        <a href="/chat">start chat</a><br>
        <a href="/ajax">test ajax mkyong</a><br>
        <a href="/register">test timeleaf</a><br>

    </div>
</body>
</html>